@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  --primary-color: #035bff;
  --text-color: #041a2f;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--bgd-body-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
input,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input,
button,
textarea {
  outline: none;
  border: none;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-text-fill-color: var(--text-color);
  transition: background-color 1s 9999s;
  caret-color: var(--text-color);
}

@media screen and (max-width: 575.98px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media screen and (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media screen and (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media screen and (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media screen and (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media screen and (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.col, .row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-top: calc(var(--grid-gutter-y) * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media screen and (max-width: 1399.98px) {
  .container {
    max-width: 1270px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0%;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.mt-16 {
  margin-top: 16px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.gift-wrap {
  position: relative;
  height: 42px;
  padding: 10px 48px;
  background-color: #021b33;
}
.gift-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 1.4rem;
  color: #fff;
}
.gift-desc {
  font-weight: 300;
}
.gift-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.gift-link__text {
  border-bottom: 1px solid rgb(255, 255, 255);
  font-weight: 500;
}
.gift-link__icon {
  background-image: url("/images/arrow-icon-right.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
.gift-link:hover .gift-link__icon {
  background-image: url("/images/arrow-icon-right-2.svg");
}
.gift-close__icon {
  position: absolute;
  right: 31px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  object-fit: contain;
  cursor: pointer;
}

.header {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 0;
  z-index: 10;
  background-color: #fff;
}
.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
}
.header-logo__link {
  width: 114px;
  height: 37px;
}
.header-logo {
  width: 100%;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.header__menu-item {
  position: relative;
  font-weight: 400;
  cursor: pointer;
}
.header__menu-item:hover .header__dropdown {
  display: block;
}
.header__menu-item:hover .header__menu-item__text {
  color: var(--primary-color);
}
.header__menu-item:hover .header__menu-item__arrow {
  filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(4377%) hue-rotate(217deg) brightness(101%) contrast(105%);
  transform: rotate(180deg);
}
.header__menu-item__arrow {
  filter: brightness(1) saturate(100%);
  transform: rotate(0deg);
  /* Chuyển tất cả các thuộc tính vào đây để hiệu ứng hoạt động cả khi hover vào và ra */
  transition: filter 0.5s ease, transform 1s ease;
}
.header__menu-item__text {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
  color: inherit;
  filter: brightness(1) saturate(100%);
  transform: rotate(0deg);
  /* Chuyển tất cả các thuộc tính vào đây để hiệu ứng hoạt động cả khi hover vào và ra */
  transition: color 0.5s ease;
}
.header-button__wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__btn-link {
  height: 38px;
  padding: 6px 20px;
  border: 1px solid;
  border-radius: 6px;
  font-weight: 400;
  line-height: 1.5;
  transition: 0.3s ease;
  transition-property: color, border, background-color;
}
.header__btn-link:first-child {
  color: #021b33;
  border-color: #cfd7e2;
}
.header__btn-link:first-child:hover {
  color: var(--primary-color);
  border-color: currentColor;
}
.header__btn-link:last-child {
  border-color: rgba(0, 0, 0, 0);
  color: var(--primary-color);
  background-color: #e6eeff;
}
.header__btn-link:last-child:hover {
  color: #fff;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}
.header__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -28px;
  padding: 24px;
  border: 4px solid #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 41px 78px 2px rgba(7, 28, 53, 0.0509803922);
  color: #26262d;
  background-color: #fff;
}
.header__dropdown-solution {
  width: 800px;
  left: -180px;
}
.header__dropdown-resource {
  width: 368px;
}
.header__dropdown-menu {
  font-size: 1.4rem;
}
.header__dropdown-item {
  margin-top: 25px;
}
.header__dropdown-item:first-child {
  margin-top: 0;
}
.header__dropdown-link {
  display: flex;
  align-items: start;
  gap: 12.8px;
}
.header__dropdown-link__info {
  white-space: nowrap;
}
.header__dropdown-link__text {
  color: rgb(4, 26, 47);
  font-weight: 500;
}
.header__dropdown-link__desc {
  line-height: 2;
  color: #64748b;
}
.header__dropdown-link__desc--solution {
  color: #041a2f;
  line-height: 1.4;
  white-space: nowrap;
}
.header__dropdown-link__desc-resource {
  color: #041a2f;
  line-height: 22px;
  font-weight: 500;
  white-space: nowrap;
}
.header__dropdown-link:hover .header__dropdown-link__icon-path {
  fill: var(--primary-color);
}
.header__dropdown-link:hover .header__dropdown-link__text, .header__dropdown-link:hover .header__dropdown-link__desc--solution, .header__dropdown-link:hover .header__dropdown-link__desc-resource {
  color: var(--primary-color);
}

.font-size-16px, .secure-text, .possibilities-item__desc, .solution-info__desc, .tools-info__desc, .features-item__desc {
  color: #394960;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}

.reward {
  padding: 83.2px 0 60px 0;
  background-image: linear-gradient(170deg, #025cff 65%, white 65.1%);
}
.reward-info {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 34px;
  color: #fff;
}
.reward-info__heading {
  width: 1080px;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6.2rem;
}
.reward-info__desc {
  width: 864px;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
}
.reward-info__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.reward-info__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  font-weight: 500;
  line-height: 24px;
}
.reward-info__btn:first-child {
  border-color: #000;
  background-color: #000;
}
.reward-info__btn:last-child {
  border-color: #fff;
  color: var(--text-color);
  background-color: #fff;
}
.reward-info__btn:last-child:hover {
  color: var(--primary-color);
}
.reward-info__btn:first-child > .reward-info__btn-icon {
  background-image: url("/images/arrow-icon-right.svg");
}
.reward-info__btn:first-child:hover > .reward-info__btn-icon {
  background-image: url("/images/arrow-icon-right-2.svg");
}
.reward-info__btn:last-child > .reward-info__btn-icon {
  background-image: url("/images/arrow-icon-right-black.svg");
}
.reward-info__btn:last-child:hover > .reward-info__btn-icon {
  background-image: url("/images/arrow-icon-right-black-2.svg");
}
.reward-info__btn-icon {
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.reward-row {
  padding: 74px 0 60px 0;
}
.reward-img {
  max-width: 100%;
  object-fit: cover;
}
.reward-brands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.reward-brand__img:last-child {
  width: 117px;
  height: 30px;
  object-fit: cover;
}

.distribute {
  padding: 80px 0;
  background-color: #f6f7f9;
}
.distribute-heading {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
.distribute-features {
  margin-top: 40px;
}
.distribute-item {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 12px;
  border: 0.5px solid #e6eeff;
  padding: 12px 17px 12px 12px;
  font-weight: 500;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.0705882353);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.distribute-item:first-child {
  margin-top: 0;
}
.distribute-item:hover, .distribute-item.active {
  box-shadow: 1px 6px 10px 3px rgba(0, 0, 0, 0.0588235294);
}
.distribute-item:hover .distribute-item__icon, .distribute-item.active {
  color: var(--primary-color);
}
.distribute-item:hover .distribute-item__text {
  color: var(--primary-color);
}
.distribute-item:hover .distribute-item__icon-switch, .distribute-item.active .distribute-item__icon-switch {
  background-image: url("../../images/arrow-icon-right-black-2.svg");
}
.distribute-item__icon-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 6px;
  background-color: #f6f7f9;
}
.distribute-item__text {
  margin-left: 12px;
  font-weight: 600;
  line-height: 1.2;
}
.distribute-item__icon-switch {
  width: 10px;
  height: 10px;
  background-image: url("../../images/arrow-icon-right-black.svg");
  background-repeat: no-repeat;
  margin-left: auto;
}
.distribute-blogs {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #fff;
}
.distribute-content__wrap {
  position: absolute;
  inset: 0;
  height: 532px;
  width: 100%;
  padding: 30px;
  border-radius: 12px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
}
.distribute-content__wrap.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s ease, opacity 1s ease;
}
.distribute-content__title {
  font-size: 20px;
  font-weight: 600;
}
.distribute-content__desc {
  margin-top: 20px;
  width: 352px;
  font-weight: 400;
  line-height: 1.7;
  color: #394960;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 6);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.distribute-content__label {
  margin-top: 40px;
  font-weight: 500;
}
.distribute-content__use-cases {
  margin-top: 20px;
  color: #394960;
}
.distribute-content__use-case {
  margin-left: 20px;
  font-weight: 400;
  line-height: 2;
  list-style-type: disc;
}
.distribute-content__btn {
  display: flex;
  align-items: center;
  margin-top: 42px;
  width: 150px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  background-color: #041a2f;
  color: #fff;
  line-height: 2;
  font-weight: 500;
}
.distribute-content__btn:hover .distribute-content__btn-arrow {
  background-image: url("../images/arrow-icon-right-2.svg");
}
.distribute-content__btn-arrow {
  width: 10px;
  height: 10px;
  background-image: url("../images/arrow-icon-right.svg");
  background-repeat: no-repeat;
  margin-left: auto;
}
.distribute-content__image {
  width: 100%;
  height: 98%;
}
.distribute-content__img {
  border-radius: 12px;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.explore {
  padding: 80px 0;
}
.explore-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.explore-info__heading {
  font-size: 34px;
  font-weight: 600;
  line-height: 4.4rem;
}
.explore-info__heading > span {
  color: var(--primary-color);
}
.explore-info__desc {
  max-width: 560px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.15px;
}
.explore-info__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.explore-info__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  font-weight: 500;
  line-height: 1.8;
}
.explore-info__btn:first-child {
  background-color: #035bff;
  color: #fff;
}
.explore-info__btn:first-child > .explore-info__btn-icon {
  background-image: url("../../images/arrow-icon-right.svg");
}
.explore-info__btn:first-child:hover > .explore-info__btn-icon {
  background-image: url("../../images/arrow-icon-right-2.svg");
}
.explore-info__btn:last-child {
  background-color: #e6eeff;
  color: var(--primary-color);
}
.explore-info__btn:last-child > .explore-info__btn-icon {
  background-image: url("../images/arrow-icon-right-primary.svg");
}
.explore-info__btn:last-child:hover > .explore-info__btn-icon {
  background-image: url("../images/arrow-icon-right-primary-2.svg");
}
.explore-info__btn-icon {
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: auto;
}
.explore-list {
  margin-top: 60px;
}
.explore-images {
  position: relative;
  width: 100%;
}
.explore-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
}
.explore-img.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease, visibility 2s ease;
}
.explore-item {
  position: relative;
  padding: 15.5px 15px;
  cursor: pointer;
}
.explore-item::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 10px;
  width: 90%;
  height: 1px;
  background-color: #508dff;
}
.explore-item:hover .explore-item__title, .explore-item.active .explore-item__title {
  color: var(--primary-color);
}
.explore-item.active::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 10px;
  width: 90%;
  height: 2px;
  background-color: #508dff;
}
.explore-item.active .explore-item__icon {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("../images/arrow-icon-right-primary.svg");
  margin-left: 10px;
}
.explore-item__row {
  display: flex;
  align-items: center;
}
.explore-item__title {
  font-weight: 600;
  line-height: 1.8;
}
.explore-item__desc {
  margin-top: 5px;
  font-weight: 400;
  font-size: 1.4rem;
  color: rgb(57, 73, 96);
}

.features {
  background-color: #f6f7f9;
  padding: 80px 0;
}
.features-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.features-info__heading {
  max-width: 780px;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  line-height: 4.4rem;
}
.features-info__desc {
  max-width: 746px;
  color: #394960;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}
.features-list {
  margin-top: 40px;
}
.features-item {
  padding: 20px;
  border: 0.5px solid #cfd7e2;
  border-radius: 18px;
  height: 262px;
  background-color: #fff;
  text-align: left;
}
.features-item__title {
  margin-top: 20px;
  color: #041a2f;
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
}
.features-item__desc {
  margin: 20px 0;
  line-height: 1.8;
}
.features-cta {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.features-cta__btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}
.features-cta__btn:hover .features-cta__btn-icon {
  background-image: url("../../images/arrow-icon-right-2.svg");
}
.features-cta__btn-icon {
  width: 10px;
  height: 10px;
  background-image: url("../../images/arrow-icon-right-primary.svg");
  background-repeat: no-repeat;
  margin-right: auto;
}

.tools {
  background-color: #e6eeff;
  padding: 80px 0;
}
.tools-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.tools-info__heading {
  font-size: 34px;
  font-weight: 600;
  line-height: 4.4rem;
}
.tools-info__desc {
  max-width: 672px;
}
.tools-cta {
  display: flex;
  justify-content: center;
}
.tools-cta__btn:hover .tools-cta__btn-icon {
  background-image: url("../../images/arrow-icon-right-2.svg");
}
.tools-cta__btn-icon {
  width: 10px;
  height: 10px;
  background-image: url("../../images/arrow-icon-right.svg");
  background-repeat: no-repeat;
  margin-right: auto;
}
.tools-image {
  margin-top: 60px;
}
.tools-img {
  width: 100%;
  object-fit: cover;
}

.solution {
  padding: 80px 0;
  background-color: #fff;
}
.solution-info {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  text-align: center;
}
.solution-info__heading {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
}
.solution-info__desc {
  max-width: 750px;
}
.solution-list__wrap {
  margin-top: 40px;
}
.solution-images {
  position: relative;
  width: 100%;
}
.solution-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
}
.solution-item {
  padding: 20px 0;
  border-bottom: 1.5px solid #cfd7e2;
  cursor: pointer;
}
.solution-item.active {
  border-bottom-color: transparent;
}
.solution-item.active .solution-item__inner {
  color: var(--primary-color);
}
.solution-item.active .solution-item__info {
  padding: 16px 0 20px 0;
  transform: scale(1);
  max-height: 500px;
}
.solution-item.active .solution-item__icon {
  rotate: 180deg;
}
.solution-item__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solution-item__title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 24px;
}
.solution-item__icon-wrap {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solution-item__info {
  transform: scale(0);
  max-height: 0;
  width: 100%;
  transition: max-height 0.3s ease;
}
.solution-item__link {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.solution-item__link:hover .solution-item__link-icon {
  background-image: url("../../images/arrow-icon-right-primary-2.svg");
}
.solution-item__link-text {
  border-bottom: 1px solid var(--primary-color);
  line-height: 1.5;
  font-weight: 500;
  color: var(--primary-color);
}
.solution-item__link-icon {
  margin-top: 2px;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  background-image: url("../../images/arrow-icon-right-primary.svg");
  background-repeat: no-repeat;
}

.possibilities {
  padding-top: 110px;
}
.possibilities-info {
  display: flex;
  justify-content: center;
}
.possibilities-info__heading {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
}
.possibilities-content {
  margin-top: 56px;
}
.possibilities-content__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.possibilities-tab {
  padding-bottom: 8px;
  line-height: 28px;
  color: #041a2f;
  letter-spacing: 0.15px;
  font-weight: 600;
  cursor: pointer;
}
.possibilities-tab.active {
  color: #035bff;
  background-color: rgba(221, 221, 221, 0);
  border-bottom: 3px solid #035bff;
}
.possibilities-content__bottom {
  padding: 80px 0;
  background-color: #f6f7f9;
  height: 725px;
}
.possibilities-content__bottom-list {
  position: relative;
}
.possibilities-item {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.possibilities-item.active {
  visibility: visible;
  opacity: 1;
}
.possibilities-item__info {
  color: #041a2f;
}
.possibilities-item__title {
  font-size: 2.8rem;
  font-weight: 600;
}
.possibilities-item__desc {
  margin-top: 12px;
  color: #041a2f;
  line-height: 1.5;
}
.possibilities-item__list {
  margin-top: 40px;
}
.possibilities-item__heading {
  font-weight: 600;
}
.possibilities-item__link {
  margin-top: 28px;
  width: 160px;
}
.possibilities-item__link:hover .possibilities-item__link-icon {
  background-image: url("../../images/arrow-icon-right-2.svg");
}
.possibilities-item__link-icon {
  width: 10px;
  height: 10px;
  background-image: url("../../images/arrow-icon-right.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
}
.possibilities-item__img {
  width: 100%;
  object-fit: contain;
}

.feedback {
  padding: 80px;
}
.feedback-wrap {
  overflow: hidden;
}
.feedback-heading {
  text-align: center;
  font-size: 3.4rem;
  line-height: 44px;
  font-weight: 600;
}
.feedback-row {
  margin-top: 70px;
  display: flex;
  transform: translateX(var(--width));
  transition: transform 0.5s ease;
}
.feedback-col {
  flex-shrink: 0;
  width: 100%;
}
.feedback-quote {
  display: flex;
  align-items: center;
  border: 1px solid #cfd7e2;
  border-radius: 18px;
  max-width: 1080px;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
}
.feedback-img {
  flex-shrink: 0;
  position: relative;
  width: 378px;
  height: 256px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feedback-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.feedback-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
.feedback-col:first-child .feedback-img {
  background-image: url(../../images/feedback/image.avif);
}
.feedback-col:first-child .feedback-img::before {
  background: linear-gradient(rgba(3, 91, 255, 0.7), rgba(3, 91, 255, 0.7));
}
.feedback-col:first-child .feedback-img::after {
  width: 171px;
  height: 50px;
  background-image: url(../../images/feedback/icon1.svg);
}
.feedback-col:nth-child(2) .feedback-img {
  background-image: url(../../images/feedback/image2.avif);
}
.feedback-col:nth-child(2) .feedback-img::before {
  background: linear-gradient(rgba(39, 50, 65, 0.6901960784), rgba(39, 50, 65, 0.6901960784));
}
.feedback-col:nth-child(2) .feedback-img::after {
  width: 179px;
  height: 35px;
  background-image: url(../../images/feedback/icon2.svg);
}
.feedback-col:nth-child(3) .feedback-img {
  background-image: url(../../images/feedback/image3.avif);
}
.feedback-col:nth-child(3) .feedback-img::before {
  background: linear-gradient(rgba(19, 181, 233, 0.7803921569), rgba(19, 181, 233, 0.7803921569));
}
.feedback-col:nth-child(3) .feedback-img::after {
  width: 102px;
  height: 27px;
  background-image: url(../../images/feedback/icon3.svg);
}
.feedback-col:nth-child(4) .feedback-img {
  background-image: url(../../images/feedback/image4.avif);
}
.feedback-col:nth-child(4) .feedback-img::before {
  background: linear-gradient(rgba(206, 54, 54, 0.6705882353), rgba(206, 54, 54, 0.6705882353));
}
.feedback-col:nth-child(4) .feedback-img::after {
  width: 70px;
  height: 45px;
  background-image: url(../../images/feedback/icon4.svg);
}
.feedback-col:nth-child(5) .feedback-img {
  background-image: url(../../images/feedback/image5.avif);
}
.feedback-col:nth-child(5) .feedback-img::before {
  background: linear-gradient(rgba(0, 112, 173, 0.6901960784), rgba(0, 112, 173, 0.6901960784));
}
.feedback-col:nth-child(5) .feedback-img::after {
  width: 172px;
  height: 38px;
  background-image: url(../../images/feedback/icon5.svg);
}
.feedback-info {
  padding: 48px;
}
.feedback-info__text {
  font-weight: 600;
}
.feedback-info__desc {
  margin-top: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.feedback-info__name {
  margin-top: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.feedback-info__author {
  color: #041a2f;
  font-weight: 700;
}
.feedback-icons {
  width: 1080px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}
.feedback-icon {
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0) saturate(100%) invert(13%) sepia(76%) saturate(576%) hue-rotate(189deg) brightness(94%) contrast(100%);
  opacity: 0.4;
}
.feedback-icon.active {
  opacity: 1;
  filter: none;
}
.feedback-icon:first-child {
  margin-left: 20xp;
  width: 171px;
  height: 50px;
  background-image: url(../../images/feedback/brand1.svg);
}
.feedback-icon:nth-child(2) {
  width: 179px;
  height: 35px;
  background-image: url(../../images/feedback/brand2.svg);
}
.feedback-icon:nth-child(3) {
  width: 102px;
  height: 50px;
  background-image: url(../../images/feedback/brand3.svg);
}
.feedback-icon:nth-child(4) {
  width: 70px;
  height: 45px;
  background-image: url(../../images/feedback/brand4.svg);
}
.feedback-icon:last-child {
  margin-right: 20px;
  width: 172px;
  height: 50px;
  background-image: url(../../images/feedback/brand5.svg);
}

.secure {
  padding: 153px 0 233px;
  background-color: #f6f7f9;
}
.secure-container {
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 991.98px) {
  .secure-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.secure-heading {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0.5px;
}
.secure-label {
  font-size: 2rem;
  color: #041a2f;
  line-height: 30px;
  font-weight: 600;
}
.secure-list {
  margin-top: 40px;
}
.secure-item {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.secure-image {
  width: 100%;
  height: 90%;
}
.secure-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  position: relative;
  padding: 153px 0 80px 0;
  background-color: #021b33;
  color: #afbccf;
}
.footer-top {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1200px;
  height: 306px;
  padding: 60px;
  border-radius: 20px;
  background-color: #ffd166;
  transform: translate(-50%, -50%);
}
.footer-top__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  color: var(--text-color);
}
.footer-top__info__heading {
  font-size: 3.4rem;
  line-height: 44px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.footer-top__info__desc {
  width: 700px;
  color: #021b33;
  line-height: 24px;
}
.footer-top__cta {
  margin-top: 10px;
}
.footer-top__cta-btn:hover .footer-top__cta-btn-icon {
  background-image: url("../../images/arrow-icon-right-2.svg");
}
.footer-top__cta-btn-icon {
  width: 10px;
  height: 10px;
  background-image: url("../../images/arrow-icon-right.svg");
  background-repeat: no-repeat;
  margin-right: auto;
}
.footer-bottom {
  padding-top: 80px;
}
.footer-wrap {
  padding-bottom: 40px;
  border-bottom: 1px solid #273241;
}
.footer-logo__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-logo__icon {
  width: 132px;
  height: 44px;
  object-fit: cover;
}
.footer-socials {
  display: flex;
  align-items: center;
  gap: 22px;
}
.footer-socials__icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #afbccf;
  transition: background-color 0.25s ease;
}
.footer-socials__icon-link:hover {
  background-color: #fff;
}
.footer-socials__icon {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.footer-heading {
  margin-bottom: 15px;
  color: #ffba1c;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}
.footer-item {
  margin-top: 12px;
}
.footer-link {
  color: #afbccf;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
}
.footer-link:hover {
  color: #fff;
}
.footer-link:first-child {
  margin-top: 0;
}
.footer-link__inner {
  border: 1px solid #ffe099;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 5px;
  color: #ddf4fa;
  background-color: rgba(255, 186, 28, 0.2);
  font-size: 1.2rem;
  line-height: 1;
}
.footer-icon__back {
  display: flex;
  align-items: end;
  justify-content: end;
  height: 100%;
}
.footer-icon__back-img:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7493%) hue-rotate(199deg) brightness(94%) contrast(108%);
  cursor: pointer;
}
.footer-policy__wrapper {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}
.footer-policy__wrapper p {
  cursor: text;
}
.footer-policy__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer-policy__link {
  color: #afbccf;
  font-size: 1.4rem;
}
.footer-policy__link:hover {
  color: #fff;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  font-weight: 500;
  line-height: 1.8;
}
.btn-primary {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
}
.btn-text-primary {
  color: var(--primary-color);
  border-color: #e6eeff;
  background-color: #e6eeff;
}
.btn-black {
  color: #fff;
  background-color: #041a2f;
  border-color: #041a2f;
}

/*# sourceMappingURL=main.css.map */
