// common
.font-size-16px {
  color: #394960;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}

// reward
.reward {
  padding: 83.2px 0 60px 0;
  background-image: linear-gradient(170deg, #025cff 65%, white 65.1%);

  &-info {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 34px;

    color: #fff;
  }

  &-info__heading {
    width: 1080px;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 6.2rem;
  }

  &-info__desc {
    width: 864px;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
  }

  &-info__btns {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-info__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    border: 1px solid #0000;
    border-radius: 6px;
    font-weight: 500;
    line-height: 24px;

    &:first-child {
      border-color: #000;
      background-color: #000;
    }

    &:last-child {
      border-color: #fff;
      color: var(--text-color);
      background-color: #fff;
      &:hover {
        color: var(--primary-color);
      }
    }

    &:first-child > &-icon {
      background-image: url('/images/arrow-icon-right.svg');
    }

    &:first-child:hover > &-icon {
      background-image: url('/images/arrow-icon-right-2.svg');
    }

    &:last-child > &-icon {
      background-image: url('/images/arrow-icon-right-black.svg');
    }

    &:last-child:hover > &-icon {
      background-image: url('/images/arrow-icon-right-black-2.svg');
    }
  }

  &-info__btn-icon {
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    margin-left: 10px;
  }

  &-row {
    padding: 74px 0 60px 0;
  }

  &-img {
    max-width: 100%;
    object-fit: cover;
  }

  &-brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
  }

  &-brand__img:last-child {
    width: 117px;
    height: 30px;
    object-fit: cover;
  }
}

// distribute
.distribute {
  padding: 80px 0;

  background-color: #f6f7f9;

  &-wrap {
  }

  &-heading {
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
  }

  &-features {
    margin-top: 40px;
  }

  &-list {
  }

  &-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 12px;
    border: 0.5px solid #e6eeff;
    padding: 12px 17px 12px 12px;

    font-weight: 500;
    background-color: #fff;

    box-shadow: 0 2px 3px #00000012;
    transition: box-shadow 0.3s ease;
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }

    &:hover,
    &.active {
      box-shadow: 1px 6px 10px 3px #0000000f;
    }

    &:hover &__icon,
    &.active {
      color: var(--primary-color);
    }

    &:hover &__text {
      color: var(--primary-color);
    }

    &:hover &__icon-switch,
    &.active &__icon-switch {
      background-image: url('../../images/arrow-icon-right-black-2.svg');
    }
  }

  &-item__icon-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 6px;

    background-color: #f6f7f9;
  }

  &-item__text {
    margin-left: 12px;

    // white-space: nowrap;
    font-weight: 600;
    line-height: 1.2;
  }

  &-item__icon-switch {
    width: 10px;
    height: 10px;
    background-image: url('../../images/arrow-icon-right-black.svg');
    background-repeat: no-repeat;
    margin-left: auto;
  }

  &-blogs {
    width: 100%;
  }

  &-content__row {
    display: flex;
    gap: 16px;
  }

  &-content__wrap {
    display: none;
    padding: 30px;
    border-radius: 12px;
    background-color: #fff;
  }

  &-content__title {
    font-size: 20px;
    font-weight: 600;
  }

  &-content__desc {
    margin-top: 20px;
    width: 352px;

    font-weight: 400;
    line-height: 1.7;
    color: #394960;
  }

  &-content__label {
    margin-top: 40px;

    font-weight: 500;
  }

  &-content__use-cases {
    margin-top: 20px;

    color: #394960;
  }

  &-content__use-case {
    margin-left: 20px;

    font-weight: 400;
    line-height: 2;
    list-style-type: disc;
  }

  &-content__btn {
    display: flex;
    align-items: center;
    margin-top: 42px;
    width: 150px;
    padding: 10px 20px;
    border: 1px solid #0000;
    border-radius: 6px;

    background-color: #041a2f;
    color: #fff;
    line-height: 2;
    font-weight: 500;

    &:hover &-arrow {
      background-image: url('../../images/arrow-icon-right-2.svg');
    }

    &-arrow {
      width: 10px;
      height: 10px;
      background-image: url('../../images/arrow-icon-right.svg');
      background-repeat: no-repeat;
      margin-left: auto;
    }
  }

  &-content__image {
    width: 100%;
    position: relative;
  }

  &-content__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// explore
.explore {
  padding: 80px 0;
  &-wrap {
  }

  &-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  &-info__heading {
    font-size: 34px;
    font-weight: 600;
    line-height: 4.4rem;
    & > span {
      color: var(--primary-color);
    }
  }

  &-info__desc {
    max-width: 560px;

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.15px;
  }

  &-info__btns {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-info__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: 1px solid #0000;
    border-radius: 6px;

    font-weight: 500;
    line-height: 1.8;

    &:first-child {
      background-color: #035bff;
      color: #fff;

      & > .explore-info__btn-icon {
        background-image: url('../../images/arrow-icon-right.svg');
      }

      &:hover > .explore-info__btn-icon {
        background-image: url('../../images/arrow-icon-right-2.svg');
      }
    }

    &:last-child {
      background-color: #e6eeff;
      color: var(--primary-color);

      & > .explore-info__btn-icon {
        background-image: url('../../images/arrow-icon-right-primary.svg');
      }

      &:hover > .explore-info__btn-icon {
        background-image: url('../../images/arrow-icon-right-primary-2.svg');
      }
    }
  }

  &-info__btn-icon {
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    margin-left: auto;
  }

  &-list {
    margin-top: 60px;
  }

  &-images {
    position: relative;
    width: 100%;
    // padding-top: 70%;
  }

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
  }

  &-item {
    position: relative;
    padding: 15.5px 15px;

    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 10px;
      width: 90%;
      height: 1px;
      background-color: #508dff;
    }

    &:hover &__title,
    &--active &__title {
      color: var(--primary-color);
    }

    &--active {
      &::before {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 10px;
        width: 90%;
        height: 2px;
        background-color: #508dff;
      }
    }
    &--active &__icon {
      width: 14px;
      height: 14px;
      background-repeat: no-repeat;
      background-image: url('../../images/arrow-icon-right-primary.svg');
      margin-left: 10px;
    }
  }
  &-item__row {
    display: flex;
    align-items: center;
  }
  &-item__title {
    font-weight: 600;
    line-height: 1.8;
  }

  &-item__desc {
    margin-top: 5px;

    font-weight: 400;
    font-size: 1.4rem;
    color: rgb(57, 73, 96);
  }
}

// features
.features {
  background-color: #f6f7f9;
  padding: 80px 0;
  &-wrap {
  }

  &-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &-info__heading {
    max-width: 780px;
    text-align: center;

    font-size: 34px;
    font-weight: 600;
    line-height: 4.4rem;
  }

  &-info__desc {
    max-width: 746px;

    color: #394960;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
  }

  &-list {
    margin-top: 40px;
  }

  &-item {
    padding: 20px;
    border: 0.5px solid #cfd7e2;
    border-radius: 18px;
    height: 262px;

    background-color: #fff;
    text-align: left;
  }

  &-item__title {
    margin-top: 20px;

    color: #041a2f;
    font-weight: 600;
    font-size: 2rem;
    line-height: 30px;
  }

  &-item__desc {
    @extend .font-size-16px;
    margin: 20px 0;
    line-height: 1.8;
  }

  &-cta {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  &-cta__btn:hover {
    color: #fff;
    background-color: var(--primary-color);
  }

  &-cta__btn:hover &-cta__btn-icon {
    background-image: url('../../images/arrow-icon-right-2.svg');
  }
  &-cta__btn-icon {
    width: 10px;
    height: 10px;
    background-image: url('../../images/arrow-icon-right-primary.svg');
    background-repeat: no-repeat;
    margin-right: auto;
  }
}

// tools
.tools {
  background-color: #e6eeff;
  padding: 80px 0;
  &-wrap {
  }

  &-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    text-align: center;
  }

  &-info__heading {
    font-size: 34px;
    font-weight: 600;
    line-height: 4.4rem;
  }

  &-info__desc {
    @extend .font-size-16px;

    max-width: 672px;
  }

  &-cta {
    display: flex;
    justify-content: center;
  }

  &-cta__btn:hover &-cta__btn-icon {
    background-image: url('../../images/arrow-icon-right-2.svg');
  }

  &-cta__btn-icon {
    width: 10px;
    height: 10px;
    background-image: url('../../images/arrow-icon-right.svg');
    background-repeat: no-repeat;
    margin-right: auto;
  }

  &-image {
    margin-top: 60px;
  }

  &-img {
    width: 100%;
    object-fit: cover;
  }
}

// solution

.solution {
  padding: 80px 0;
  background-color: #fff;
  &-wrap {
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    text-align: center;
  }

  &-info__heading {
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
  }

  &-info__desc {
    max-width: 750px;

    @extend .font-size-16px;
  }

  &-list__wrap {
    margin-top: 40px;
  }

  &-images {
    position: relative;
    width: 100%;
  }

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
  }

  &-list {
  }

  &-item {
    padding: 20px 0;
    border-bottom: 1.5px solid #cfd7e2;
    cursor: pointer;
    &.active {
      border-bottom-color: transparent;
    }

    &.active &__inner {
      color: var(--primary-color);
    }

    &.active .solution-item__info {
      padding: 16px 0 20px 0;
      transform: scale(1);
      max-height: 500px;
    }

    &.active .solution-item__icon {
      rotate: 180deg;
    }
  }

  &-item__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-item__title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 24px;
  }

  &-item__icon-wrap {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-item__info {
    transform: scale(0);
    max-height: 0;
    width: 100%;
    transition: max-height 0.3s ease;
  }

  &-info__desc {
    @extend .font-size-16px;
  }

  &-item__link {
    margin-top: 20px;
    display: flex;
    align-items: center;

    &:hover &-icon {
      background-image: url('../../images/arrow-icon-right-primary-2.svg');
    }
  }

  &-item__link-text {
    border-bottom: 1px solid var(--primary-color);

    line-height: 1.5;
    font-weight: 500;
    color: var(--primary-color);
  }

  &-item__link-icon {
    margin-top: 2px;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-image: url('../../images/arrow-icon-right-primary.svg');
    background-repeat: no-repeat;
  }
}
