.reward {
  padding: 83.2px 0 60px 0;
  background-image: linear-gradient(170deg, #025cff 65%, white 65.1%);

  &-info {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 34px;

    color: #fff;
  }

  &-info__heading {
    width: 1080px;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 6.2rem;
  }

  &-info__desc {
    width: 864px;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
  }

  &-info__btns {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-info__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    border: 1px solid #0000;
    border-radius: 6px;
    font-weight: 500;
    line-height: 24px;

    &:first-child {
      border-color: #000;
      background-color: #000;
    }

    &:last-child {
      border-color: #fff;
      color: var(--text-color);
      background-color: #fff;
      &:hover {
        color: var(--primary-color);
      }
    }

    &:first-child > &-icon {
      background-image: url('/images/arrow-icon-right.svg');
    }

    &:first-child:hover > &-icon {
      background-image: url('/images/arrow-icon-right-2.svg');
    }

    &:last-child > &-icon {
      background-image: url('/images/arrow-icon-right-black.svg');
    }

    &:last-child:hover > &-icon {
      background-image: url('/images/arrow-icon-right-black-2.svg');
    }
  }

  &-info__btn-icon {
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    margin-left: 10px;
  }

  &-row {
    padding: 74px 0 60px 0;
  }

  &-img {
    max-width: 100%;
    object-fit: cover;
  }

  &-brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
  }

  &-brand__img:last-child {
    width: 117px;
    height: 30px;
    object-fit: cover;
  }
}
